body, html{
    background: rgb(38 38 38) !important;
    overflow: hidden !important;
    color: transparent !important;
}

:root{
    --yellow: rgb(243 182 35);
}

.login{
    background: var(--yellow);
    position: absolute;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 2px 1px 3px rgba(0,0,0,.40);
    border-radius: 3px;
}

@media screen and (max-width: 500px){
    .login{
        width: 100%;
    }
}

.login input{
    margin-top: 10px;
}

.login .logo{
    margin: 0px auto;
    position: relative;
    left: 60px;
}

.login .logged{
    position: relative;
    margin-top: 50px;
    width: 200px;
    left: 80px;
}

.left{
    position: fixed;
    width: 100px;
    background: linear-gradient(90deg, rgba(227,11,31,1) 0%, rgba(203,20,37,0.9304096638655462) 34%);
    height: calc(100% - 70px);
    bottom: 0px;
}

.top{
    position: fixed;
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, rgba(255,185,2,1) 0%, rgba(227,168,13,1) 34%);
}

.top .logo{
    width: 75px;
    margin-left: 5px;
}

.center .white{
    width: calc(100% - 100px);
    height: calc(100% - 70px);
    position: fixed;
    background:#221816;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.center h1{
    padding: 10px;
    color: #fff;
    font-size: 22px;
}

.center li{
    background: rgba(0,0,0,0.4);
    display: grid;
    box-shadow: 1px 2px 1px rgba(255,255,255,0.2);
    transform: scale(1.0);
    height: auto;
}

.center li h1{
    padding: 0px;
    margin: 10px;
}

.center li h2{
    color: #fff;
    display: flex;
    margin: 10px;
    position: relative;
    top: -20px;
    left: 0px;
}

.center li p, span{
    display: flex;
    color: rgb(255,214,24);
    font-size: 22px;
    position: relative;
    top: 0px;
    display: inline-table;
}

.center p{
    top: -30px !important;
    left: 20px;
}

.centerNop{
    width: 100% !important;
}

.pedido{
    position: relative;
    display: block;
    top: -20px;
    left: 20px;
}

.pedir{
    width: 100%;
    display: flex;
}

.pedir p{
    top: 10px !important;
    margin: 0px;
}

.pedir input{
    width: 100%;
    position: relative;
    background: transparent;
    border: 2px solid rgba(227,168,13,1);
    width: 100px;
    padding: 5px;
    color: #000;
    background: #fff;
    margin: 10px 0px 20px 20px;
}

.enviarPedido{
    margin: 20px;
}

.white strong{
    background: #fff;
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.added{
    background: rgba(227,168,13,1) !important;
}

.transparent{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0px;
}

.total{
    color: #151515;
}

li i{
    z-index: 100;
    position: relative;
    height: 15px;
    background: rgba(227,11,31,1);
    width: 40px;
    top: 6px;
    left: -10px;
    color: #fff;
    margin-top: 5px;
    padding: 14.3px;
}